#root {
    height: 100px;
}

// Colores basados en el logo de CIIDE
$primary-color: #0a2f5c; // Azul oscuro del logo
$secondary-color: #3a5ca4; // Azul más claro
$accent-color-1: #b1cc33; // Verde
$accent-color-2: #e7872b; // Naranja
$accent-color-3: #9e226d; // Morado
$text-color: #25262b;
$light-text: #777;
$input-bg: #fff;
$border-color: #e6e9ef;
$error-color: #ff3b5c;
$success-color: #0acf83;